*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(214, 20%, 16%);
    --Dark-Blue2: hsl(214, 17%, 19%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    background-color: var(--Very-Dark-Blue);
}
main {
    position: absolute;
    perspective: 1000px;
    width: 410px;
    height: 350px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}
.card {
    transform-style: preserve-3d;
    transition: all 0.5s linear;     
}

.rotate-card {
    transform: rotateY(180deg);
}

section div.front,
section div.back {
    display: inline-flex;
    flex-direction: column;
    width: 410px;
    height: 350px;
    background-color: var(--Dark-Blue);
    border-radius: 20px;
    padding: 25px;
    overflow: hidden;   
}
section div.back {
    transform: rotateY(180deg);
}
.visibility {
    position: absolute;
    backface-visibility: hidden;
}
.iconStar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--Dark-Blue2);
    border-radius: 50%;
}
h1 {
    color: var(--White);
}
.option-container {
    display: flex;
    justify-content: space-between;
}
.front p{
    color: var(--Light-Grey);
    font-weight: 400;
}
.buttonOption {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: var(--Dark-Blue2);
    font-weight: 700;
    color: var(--Medium-Grey);
    cursor: pointer;
}
.active {
    background-color: var(--Orange);
    box-shadow: 0px 0px 2px .7px var(--White);
    color: var(--White);
}
.option-container .buttonOption:hover {
    background-color: var(--Light-Grey);
    color: var(--White);
    transition: background-color 2s;
}

.submitBtn {
    background-color: var(--Orange);
    color: var(--White);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    font-weight: 700;
    letter-spacing: 2.3px;
}
.submitBtn:hover {
    background-color: var(--White);
    color: var(--Orange);
    box-shadow: 0px 0px 2px .7px var(--White);
    transition: background-color 2s;
}
.submitBtn:active,
.option-container .buttonOption {
    transform: scale(0.98);
}
.option-container,
.submitBtn,
h1,
.front p {
    margin-top: 20px;
}
.back {
    align-items: center;
    gap: 20px;
}
.backCard-img {
    margin-top: 20px;
}
.backCard-result {
    display: flex;
    width: 50%;
    height: 25px;
    color: var(--Orange);
    font-weight: 400;
    align-items: center;
    justify-content: center;
    background-color: var(--Dark-Blue2);
    border-radius: 12px;

}
.back h2 {
    color: var(--White);
}
.back p {
    color: var(--Medium-Grey);
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    padding: 0 35px;
}
footer {
    color: var(--Medium-Grey);
    position: fixed;
    height: 20px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

footer a {
    color: var(--White);
    text-decoration: none;
    font-weight: 700;
}